altair
asttokens
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
coloredlogs
decorator
exceptiongroup
executing
gitdb
GitPython
humanfriendly
idna
importlib-metadata
ipdb
ipython
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
numpy
packaging
pandas
parso
pexpect
pillow
plotly
prompt-toolkit
protobuf
ptyprocess
pure-eval
pyarrow
pydeck
Pygments
pyreadline3
python-dateutil
python-decouple
pytz
referencing
requests
rich
rpds-py
scikit-surprise
scipy
six
smmap
stack-data
streamlit
tenacity
toml
tomli
toolz
tornado
traitlets
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth
zipp
